{% extends "base.html" %}
{% block content %}
<h3>Add Patient</h3>
<div class="card p-4">
    <form method="POST">
        <div class="mb-3">
            <label>Name</label>
            <input type="text" name="name" class="form-control" required>
        </div>
        <div class="mb-3">
            <label>Age</label>
            <input type="number" name="age" class="form-control" required>
        </div>
        <div class="mb-3">
            <label>Disease</label>
            <input type="text" name="disease" class="form-control" required>
        </div>
        <button class="btn btn-success">Add Patient</button>
    </form>
</div>
<a href="/dashboard" class="btn btn-secondary mt-3">Back to Dashboard</a>
{% endblock %}